.dashboard {
	display: grid;
	grid-template-columns: 1fr 625px  1fr;
	grid-template-rows: 100px 120px 1fr;
	height: 100vh;
	width: 100%;
	overflow: scroll;
	background-image: image-url('logged_in_background.jpg');
	height: 100vh;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}

.leftColumn {
	grid-column-start: 2;
	grid-column-end: 3;
	grid-row-start: 3;
	grid-row-end: 4;
	width: 625px;
	display: flex;
	flex-direction: column;
}

.title {
	font-weight: bolder;
	font-size: large;
}