// Place all the styles related to the api/posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.postBox {
    display: grid;
    grid-template-rows: auto;
    background-color: white;
    border-radius: 3px;
    margin: 10px;
}
.body {
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 14px;
    padding: 10px;
    padding-left: 20px;
    padding-right: 20px;
}
.title {
    display: block;
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 14px;
    padding: 10px;
    padding-left: 20px;
    padding-right: 20px;
}

.image {
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 8px;
    width: 50%;
    height:auto;
}