// Place all the styles related to the api/posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.postBox {
    display: grid;
    grid-template-rows: auto;
    background-color: white;
    border-radius: 30px;
    margin: 10px;
    width: 500px;
    box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06)
}
.body {
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 14px;
    padding: 10px;
    padding-left: 20px;
    padding-right: 20px;
}
.title {
    display: block;
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 14px;
    padding: 10px;
    padding-left: 20px;
    padding-right: 20px;
}

.image, .video {
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 100px;
    margin-right: 30px;
    border-radius: 8px;
    width: 50%;
    height:auto;
}

.post-buttons {
    display: flex;
    align-items: center;
    margin-left: 10px;
}

.delete-button {
    display:inline-block;
    padding:0.7em 1.4em;
    margin:0 0.3em 0.3em 0;
    border-radius:10px;
    box-sizing: border-box;
    text-decoration:none;
    font-family:'Roboto',sans-serif;
    text-transform:uppercase;
    font-weight:400;
    color:#030303;
    background-color:#ff334e;
    box-shadow:inset 0 -0.6em 0 -0.35em rgba(0,0,0,0.17);
    text-align:center;
    position:relative;
    
  a.button6:active{
  top:0.1em;
  }
   
}

.delete-button:hover {
    background: darkred;
}

.like-toggle, .logout-show-page {
    display:inline-block;
    padding:0.7em 1.4em;
    margin:0 0.3em 0.3em 0;
    border-radius:10px;
    box-sizing: border-box;
    text-decoration:none;
    font-family:'Roboto',sans-serif;
    text-transform:uppercase;
    font-weight:400;
    color:#030303;
    background-color:#d484df;
    box-shadow:inset 0 -0.6em 0 -0.35em rgba(0,0,0,0.17);
    text-align:center;
    position:relative;
    
  a.button6:active{
  top:0.1em;
  }
  
}

.logout-show-page {
    background: darkslateblue;
    color: plum;
    text-transform: none;
}
.logout-show-page:hover {
    background: darkblue;
}
