/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 * {
     box-sizing: border-box;
     font-family: "Helvetica Neue";

 }
 .tumblrLogo {
     text-align: center;
     font-family: "Helvetica Neue";
     font-size: 50px;
 }
 .authLinks {
     margin: auto;
     text-align: center;
     display: flex;
     flex-direction: column;
     align-items: center;
 }
 .subHeading {
     text-align: center;
     font-family: "Helvetica Neue";
     font-size: 16px;
 }

 .login, .signup {
      
    display: block;
    border: solid black;
    margin: 5px;
    width: 100px;
    text-decoration: none;
    color: black;
    width: 250px;
    height: 50px;
    line-height: 50px;
    text-align: center;
    border-radius: 5px;
    font-family: "Helvetica Neue";
       
 }

 

 .login {
    background-color: #FFF8DC;
 }
 .signup {
    background-color: #FFB6C1;
    color: cornsilk;
 }


.loginForm, .signupForm {
    display: flex ;
    flex-direction: column;
    align-items: center;
}

.loginForm input, .signupForm input {
    display: block;
    border: none;
    margin: 0;
    width: 100px;
    text-decoration: none;
    color: black;
    width: 250px;
    height: 50px;
    line-height: 50px;
    text-align: center;
    border-radius: 5px;
    font-family: "Helvetica Neue";
    background-color: #FFF8DC;
    
}
::placeholder {
    font-family: "Helvetica Neue";
     font-size: 16px;
}
input:focus {
    outline-color: darkmagenta;
}

.loginButton, .demoLoginButton {
    display: flex;
    align-items: center;
    justify-content: center;
    border: solid;
    margin: 0;
    width: 100px;
    text-decoration: none;
    color: black;
    width: 250px;
    height: 50px;
    line-height: 50px;
    text-align: center;
    border-radius: 5px;
    font-family: "Helvetica Neue";
    outline-color: darkmagenta;
    font-size: 16px;
    background-color: #BA55D3;
}
.signupButton {
    display: flex;
    align-items: center;
    justify-content: center;
    border: solid;
    margin: 0;
    width: 100px;
    text-decoration: none;
    color: black;
    width: 250px;
    height: 50px;
    line-height: 50px;
    text-align: center;
    border-radius: 5px;
    font-family: "Helvetica Neue";
    outline-color: darkmagenta;
    font-size: 16px;
    background-color: #BA55D3;
}

#usernameLogin {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    border: solid;
    border-width: thin;

}

#passwordLogin {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
   border-left: solid;
   border-right: solid;
   border-bottom: solid;
    border-width: thin;
    
}


body {
    background-image: image-url('mumblr_landing_background.jpg');
	height: 100vh;
	background-position: center;
	background-repeat: no-repeat;
    background-size: cover;
    margin: 0;
}